<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module category="Datenaustausch" context="hsl20_3_json" id="11087" name="JSON-Parser (11087)" version="0.12">
            <inputs>
                <input type="string" const_name="sJson" init_value="">JSON-String</input>
                <input type="string" const_name="sKey" init_value="">Key</input>
				<input type="number" const_name="sIdx" init_value="-1">Array Index</input>				
            </inputs>
            <outputs>
				<output type="string" const_name="sValue" init_value="">Value (str)</output>
				<output type="number" const_name="fValue" init_value="0">Value (number)</output>
            </outputs>               
			<remanent_variables>
            </remanent_variables>
            <imports>
            </imports>		
        </module>	
    </modules>
</config>
