<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module category="Datenaustausch" context="hsl20_3_dwd" id="14101" name="DWD Unwetter (14101)" version="0.11">
            <inputs>
                <input type="number" const_name="nTrigger" init_value="0">Trigger</input>			
                <input type="string" const_name="sCityId" init_value="">Region Id</input>
				<input type="string" const_name="sCity" init_value="">Region</input>
            </inputs>
            <outputs>
				<output type="string" const_name="sHeadline" init_value="">Überschrift</output>
				<output type="number" const_name="fLevel" init_value="0">Level</output>				
				<output type="string" const_name="sDescr" init_value="">Beschreibung</output>
				<output type="string" const_name="sInstr" init_value="">Hinweise</output>
				<output type="number" const_name="fStart" init_value="0">Startzeit</output>
				<output type="number" const_name="fStop" init_value="0">Stoppzeit</output>
				<output type="string" const_name="sAllWrnStr" init_value="">Text alle Warnungen</output>
				<output type="string" const_name="sLv1Str" init_value="">Text Wetterwarnung (Lv 1)</output>
				<output type="string" const_name="sLv2Str" init_value="">Text markantes Wetter (Lv 2)</output>
				<output type="string" const_name="sLv3Str" init_value="">Text Unwetterwarnung (Lv 3)</output>
				<output type="string" const_name="sLv4Str" init_value="">Text extremem Unwetter (Lv 4)</output>
				<output type="string" const_name="sPreWrnStr" init_value="">Text Vorabinformation Unwetter</output>
				<output type="string" const_name="sHeatWrnStr" init_value="">Text Hitzewarnung</output>
				<output type="string" const_name="sUvWrnStr" init_value="">Text UV-Warnung</output>				
				<output type="number" const_name="bActive" init_value="0">Warnung aktiv (sbc)</output>					
				<output type="number" const_name="bError" init_value="0">Error</output>				
				<output type="string" const_name="sJson" init_value="">Json</output>				
            </outputs>               
			<remanent_variables>
            </remanent_variables>
            <imports>
            </imports>		
        </module>
    </modules>
</config>
